* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  color: #111;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}


.hero-video video {
  width: 100%;
  height: auto;
}

/* NAV */
.nav {
  top: 0;
  width: 100%;
}

.nav-inner {
  max-width: 900px;
  margin: auto;
  padding: 1.2rem 1.5rem;
  display: flex;
  justify-content: center;
}

.nav-links a {
  margin-left: 2.5rem;
  text-decoration: none;
  color: #111;
  font-size: 0.85rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}



/* CONTENT */
.content {
  max-width: 700px;
  margin: 9rem auto 7rem;
  padding: 0 1.5rem;
	backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.85);
}

.content a{
	color: black;
}

.intro {
  margin-bottom: 4rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 0.9rem;
  opacity: 0.6;
}

section {
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  opacity: 0.8;
}

p {
  line-height: 1.75;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

/* CONTACT PAGE EXTRAS */

.contact-block {
  margin: 3rem 0;
}

.contact-label {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}

.contact-mail {
  font-size: 1.2rem;
  text-decoration: none;
  color: #111;
}

.contact-mail:hover {
  opacity: 0.7;
}

.contact-socials {
  margin-top: 1.5rem;
}

.contact-socials a {
  margin-right: 1.2rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: #111;
}


.work-panel img{
	width: 100%;
}


/* FOOTER */
.footer {
  background-color: black;
  backdrop-filter: blur(10px);
  padding: 4rem 1.5rem 2rem;
	color: white;
}

.footer-inner {
  max-width: 900px;
  margin: auto;
}

.footer-text {
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
	color: white;
}

.footer-links a {
  margin-right: 1.2rem;
  text-decoration: none;
  font-size: 0.85rem;
  color: white;
}

.footer-mail {
  display: block;
  margin-top: 1.2rem;
  text-decoration: none;
color: white;
  font-size: 0.9rem;
}

hr {
  margin: 2.5rem 0;
  border: none;
  height: 1px;
  background: white;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
	
}

.footer-socials a {
  text-decoration: none;
color: white;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-inner {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .nav-links a {
    margin-left: 1.5rem;
  }
}

@supports (backdrop-filter: blur(20px)) {
  .content {
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(20px);
  }
}
